/* :root {
  --accent: #7f1d1d;
  --link: #0369a1;
  --bg: #fafafa;
  --lighter: #e7e5e4;
  --light: #d6d3d1;
  --border: #d6d3d1;
  --black: #1c1917;

} */

body {
  margin: 0;
  background-color: var(--bg);
  color: var(--text)
}


h1 {
  font-size: 3em;

}

h2 {
  font-size: 1.7em;
  margin: 0;
  padding-bottom: 0.2em;
  border-bottom: 2px solid var(--border);

}

h3 {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}


div.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
}


div.main {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1em;
}

div.map {
  padding: 1em;
  width: 70%;
  background-color: var(--lighter);
  border: 1px solid var(--text);
  border-radius: 4px;
  margin-right: 1em;

}

div.map-info {
  height: 30%;
  width: 30%;
  padding: 1em;
  background-color: var(--lighter);
  margin-left: 1em;
  border: 1px solid var(--text);
  border-radius: 4px;
}

div.map figure {
  margin: 0px;
  width: 100%
}

div.map figure svg:nth-of-type(1) {
  width: 30%
}

div.map figure svg:nth-of-type(2) {
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
}

.map-plot {
  --plot-background: #313033;
}

/* .map-plot svg[aria-label="tip"]{
  align-items: center;
} */

/* test */