:root {
  --accent: #7f1d1d;
  --link: #0369a1;
  --bg: #fafafa;
  --lighter: #e7e5e4;
  --light: #d6d3d1;
  --border: #d6d3d1;
  --black: #1c1917;

  /* --lighter: #bb2e2e; */
  /* --bg: #2b2a2d; */
}

body {
  margin: 0;
  background-color: var(--bg);
  font-family: Garamond
}

a.logo {
  font-size: 1.2em;
  font-family: Georgia;
  font-weight: bold;
  color: var(--accent);
  text-align: center;
  text-decoration: none;
  padding-left: 0.
}

h1 {
  font-size: 3em;

}

h2 {
  font-size: 1.7em;
  margin: 0;
  padding-bottom: 0.2em;
  border-bottom: 2px solid var(--border);

}

h3 {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

/* Nav */

nav {
  display: flex;
  background-color: var(--lighter);
  height: 36px;
  justify-content: space-between;
  padding-right: 2%;
  padding-left: 2%;
  border-bottom: 2px solid var(--border)
}

nav div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav a.logo {
  font-size: 1.2em;
  font-family: Georgia;
  color: var(--accent);
  text-align: center;
  text-decoration: none;
  margin-right: 0.2em;
}

nav div ul {
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav div ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  height: 100%;
  padding-left: 1em;
  padding-right: 1em;
}

nav li a {
  display: block;
  color: var(--black);
  text-align: center;
  text-decoration: none;
}

nav li:hover {
  background-color: var(--light);
}

nav div.search {
  margin-left: auto;
}


nav div.search form {
  padding: 0;
  margin: 0;
  height: 80%;
  display: flex;
}

nav div.search input[type="submit"] {
  margin-left: 4px;
}


div.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
}


div.main {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1em;
}

div.map {
  padding: 1em;
  width: 70%;
  background-color: var(--lighter);
  border: 2px solid var(--border);
  margin-right: 1em;

}

div.map-info {
  height: 30%;
  width: 30%;
  padding: 1em;
  background-color: var(--lighter);
  border: 2px solid var(--border);
  margin-left: 1em;
}

div.map figure {
  margin: 0px;
  width: 100%
}

div.map figure svg:nth-of-type(1) {
  width: 30%
}

div.map figure svg:nth-of-type(2) {
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
}
