
/* Nav */

nav {
  display: flex;
  background-color: var(--accent);
  height: 48px;
  justify-content: space-between;
  padding-right: 2%;
  padding-left: 2%;
  /* border-bottom: 2px solid var(--border) */
}

nav div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav a.logo {
  font-size: 1.2em;
  font-weight: bold;
  color: var(--text);
  text-align: center;
  text-decoration: none;
  margin-right: 0.2em;
}

nav div ul {
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav div ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  height: 100%;
  padding-left: 1em;
  padding-right: 1em;
}

nav li a {
  display: block;
  color: var(--black);
  text-align: center;
  text-decoration: none;
}

nav li:hover {
    background-color: var(--light) 
}

nav div.search {
  margin-left: auto;
}


nav div.search form {
  padding: 0;
  margin: 0;
  height: 60%;
  display: flex;
}

nav div.search input[type="submit"] {
  margin-left: 4px;

}
