body {
  margin: 0;
  background-color: var(--bg);
  color: var(--text)
}

h1 {
  font-size: 1.5em;
  font-weight: normal;
}

h2 {
  font-size: 1.7em;
  margin: 0;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}


/* Main */

div.main {
  margin-left: 5%;
  margin-right: 5%;
}

/* Results */

div.results {
  margin-left: calc(12.5% - 5%);
  margin-right: calc(12.5% - 5%);
}

div.result-section {
  padding: 1em;
  margin-bottom: 1em;

  /* border: 2px solid var(--border); */
}

div.result-section div.heading {
  display: flex;
  justify-content: space-between;
}

div.result-section div.heading div.a-wrapper {
  display: flex;
}

div.result-section div.heading div.a-wrapper a {
  color: var(--link);
  text-decoration: none;
  align-self: flex-end;
}

div.result-section div.heading div.a-wrapper a:hover {
  text-decoration: underline;
}

/* Book */

div.book {
  height: 128px;
  width: 100%;
  /* background-color: red; */
  display: flex;
  padding-bottom: 2px;
  padding-top: 2px;
  /* border-top: 2px solid var(--border); */

  background-color: var(--lighter);
  border: 1px solid var(--text);
  border-radius: 4px;
  margin-top: 1em;
}

div.cover-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6em;
  /* background-color: red; */
  aspect-ratio: 6 / 9;
}

div.book div.book-content {
  padding: 0.5em;
  flex-grow: 1;
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div.book div.ban-content {
  /* display: flex; */
  /* flex-direction: column; */
  text-align: right;
  padding: 0.5em;
  width: 6em;
  /* background-color: yellow; */
}

img.cover {
  aspect-ratio: 6 / 9;
  height: 95%;
  object-fit: cover;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

p.book-title {
  font-weight: bolder;
  font-size: 1.5em
}

div.book p.book-title a {
  color: inherit;
  text-decoration: none;
}

div.book p.book-title span {
  font-size: 1em;
  font-weight: lighter;
}

div.book p.book-title a:hover {
  text-decoration: underline;
}

p.book-authors {
  font-weight: bold;
}

p.book-publish_date {
  font-weight: lighter;
  /* font-size: 0.7em */
}

p.book-genres {
  overflow: hidden;
  /* font-size: 0.7em */
}

p.book-bans {
  font-weight: normal;
  font-size: 1.5em;
}

p.book-bans span {
  font-weight: bolder;
  color: var(--accent)
}

/* test */
