<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Books by {{ author }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='authors.css') }}">
</head>
<body>
  <div class="header">
    <h1>Books by {{ author }}</h1>
  </div>
  <div class="main">
    {% for book in books %}
      <div class="book">
        <img src="{{ book.cover }}" alt="Cover of {{ book.title }}">
        <div class="hover">
          <p class="title">
            <a href="{{ url_for('details', isbn=book.isbn) }}">{{ book.title }}</a>
          </p>
          <p class="author">{{ author }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</body>
</html>
