<html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{genre}}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='genre.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}">
</head>
<body>
        {% include 'nav.html' %}
      <div class="header">
        <h1>{{ genre }}</h1>
      </div>
      <!-- Content -->
       <div class="main">
              {% for book in books[:300] %}
              <a href="/details/{{book.isbn}}">
      <div class="book">
        <img src="{{book.details.cover if book.details.cover else url_for('static', filename='no-cover.png')}}" alt="{{book.title}}">
        <div class="hover">
            <p class="title">{{book.title}}</p>
            <p class="author">{{book.authors_to_string()}}</p>
        </div>
        <!-- <p>{{book.title}}</p> -->
      </div></a>

      {% endfor %}
      </div>
</body>
</html>