<!-- Eventually replace inline css -->

<html>

<head>
  <!-- <link rel="stylesheet" href="index.css"> -->
</head>

<body style="margin: 0">
  <!-- Navbar -->
  <nav style="display:flex; background-color: purple;">
    <a class="brand" href="#">
      The Forbidden Library
    </a>
    <div>
      <a href="#">Most Banned</a>
      <a href="#">Map</a>
      <a href="#">Advanced Search</a>
    </div>
    <input type="text" placeholder="Search..">
  </nav>
  <!-- Header -->
  <div style="display: flex;justify-content: center; align-items: center; height:10em; background-color:green;>
    <div style=" display:flex; flex-direction: column; ">
      <h1>The Forbidden Library</h1>
      <input type=" text" placeholder="Search..">
  </div>
  </div>
  <!-- Main Content -->
  <div style="display:flex; margin-left: 5%; margin-right: 5%">
    <!-- Sidebar -->
    <div style="width:27.5%; margin-right:2.5%; background-color: red;">
      <h2>Links</h2>
      <h3>See Most Banned...</h3>
      <ul>
        <li>
          <a href="#">Books</a>
        </li>
        <li>
          <a href="#">Authors</a>
        </li>
        <li>
          <a href="#">States</a>
        </li>
        <li>
          <a href="#">Districts</a>
        </li>
      </ul>
      <h3>Search For...</h3>
      <ul>
        <li>
          <a href="#">Title</a>
        </li>
        <li>
          <a href="#">Author</a>
        </li>

        <li>
          <a href="#">Genre</a>
        </li>
        <li>
          <a href="#">ISBN</a>
        </li>

      </ul>
    </div>
    <div style="width:67.5%; margin-left: 2.5%; background-color: blue;">
      <!-- Most Banned -->
      <h2>Discover the Most Banned Books</h2>
      <div style="display: flex;">
        {% for book in most_banned_books: %}
        <!-- Book -->
        <div style="width:15%; padding-left:2%; padding-right: 2%">
          <img src={{ book.details.cover }} style="width:100%">
        </div>
        {% endfor %}
      </div>
      <!-- Map -->
      <h2>See where Books have been Banned</h2>

    </div>
  </div>
</body>

</html>