<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='navstyle.css') }}">
  <link rel="stylesheet" href="{{url_for('static', filename='index.css') }}">
</head>

<body>
  <!-- Navbar -->
  {% include 'nav.html' %}
  <!-- Header -->
  <div class="header">
    <div style=" display:flex; flex-direction: column;">
      <h1>The Forbidden Library</h1>
      <input type=" text" placeholder="Search..">
    </div>
  </div>
  <!-- Main Content -->
  <div class="main">
    <!-- Sidebar -->
    <div class="sidebar">
      <div class="navigation">
        <h2>Navigation</h2>
        <h3>See Most Banned...</h3>
        <ul>
          <li>
            <a href="#">Books</a>
          </li>
          <li>
            <a href="#">Authors</a>
          </li>
          <li>
            <a href="#">States</a>
          </li>
          <li>
            <a href="#">Districts</a>
          </li>
        </ul>
        <h3>Search For...</h3>
        <ul>
          <li>
            <a href="#">Title</a>
          </li>
          <li>
            <a href="#">Author</a>
          </li>

          <li>
            <a href="#">Genre</a>
          </li>
          <li>
            <a href="#">ISBN</a>
          </li>

        </ul>
      </div>
      <div class="map">
        <h2>Map</h2>
        <div id="map">
        </div>
      </div>
      <script type="module" src="{{url_for('static', filename='map.js')}}"></script>

    </div>
    <div class="content">
      <!-- Most Banned -->
      <div class="most_banned">
        <h2>Discover the Most Banned Books</h2>
        <div style="display: flex; flex-direction: column;">
          {% for book in most_banned_books: %}
          <div class="book">
            <div class="cover-wrapper">
              <img src={{ book[1].details.cover }} class="cover">
            </div>
            <div class="book-content">
              <a class="book-title" href="{{'/details/' + book[1].isbn}}">{{ book[1].title }} <span
                  style="font-size:1em;font-weight: lighter">({{book[1].isbn}})</span></a>
              <p class="book-authors">{{ book[1].authors_to_string() }}</p>
              <p class="book-publish_date">{{ book[1].details.publish_date}}</p>
              <p class="book-genres">{{ book[1].genres_to_string() }}</p>
            </div>
            <div class="ban-content">
              <p class="book-bans"><span>{{book[0]}} </span>bans</p>
            </div>
          </div>
          {% endfor %}
        </div>
        <!-- Map -->
        <!-- <h2>See where Books have been Banned</h2> -->

      </div>
    </div>
</body>

</html>
