
<html lang="en">

<head>
  <title>Most Banned States</title>
  <link rel="stylesheet" href="{{url_for('static', filename='global.css') }}">
  <link rel="stylesheet" href="{{url_for('static', filename='most-banned.css') }}">
  <link rel="stylesheet" href="{{url_for('static', filename='nav.css') }}">
</head>

<body>
  <!-- Navbar -->
   {% include 'nav.html' %}
  <div class="header">
      <h1>Most Banned States</h1>
  </div>
  <div class="main">
    <div class="most-banned">
      <ol>
        {% for state in states: %}
        <li>
          <p>{{state.name}}</a>: {{state.bans}}</p>
        </li>
        {% endfor %}
      </ol>
    </div>
    
  </div>
</body>

</html>