<!-- Navbar -->
<nav>
  <div>
    <a class="logo" href="/">
      The Forbidden Library
    </a>
    <div class="pages">
      <ul>
        <li>
          <a href="/map">Map</a>
        </li>
        <li>
          <a href="/books">Books</a>
        </li>
        <li>
          <a href="#">Authors</a>
        </li>
        <li>
          <a href="#">Genres</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="search">
    <form action="/search">
      <input aria-label="Search" id="search" name="searchterm" type="text" placeholder="Search..">
      <input aria-label="Submit Search" type="submit" value="Go">
    </form>
  </div>
</nav>
