<html>

<head>
  <link rel="stylesheet" href="{{url_for('static', filename='global.css') }}">
  <link rel="stylesheet" href="{{url_for('static', filename='search.css') }}">
  <link rel="stylesheet" href="{{url_for('static', filename='nav.css') }}">
</head>

<body>
  <!-- Navbar -->
   {% include 'nav.html' %}
  <!-- Content -->
  <div class="main">
    <div class="results">
      <h1>Search Results for "{{query}}":</h1>
      <!-- ISBN -->
      {% if results_isbn %}
      <div class="result-section">
        <h2>ISBN</h2>
        <div class="book">
          <div class="cover-wrapper">
            <img src={{ results_isbn.details.cover }} alt="{{ results_isbn.title }}" class="cover">
          </div>
          <div class="book-content">
            <p class="book-title">{{ results_isbn.title }} <span
                style="font-size:1em;font-weight: lighter">({{ results_isbn.isbn}})</span></p>
            <p class="book-authors">{{ results_isbn.authors_to_string() }}</p>
            <p class="book-publish_date">{{ results_isbn.details.publish_date}}</p>
            <p class="book-genres">{{ results_isbn.genres_to_string() }}</p>
          </div>
          <div class="ban-content">
          </div>
        </div>
      </div>
      {% endif %}



      <!-- Title -->
      {% if results_title%}
      <div class="result-section">
        <h2>Title</h2>
        {% for book in results_title: %}
        <div class="book">
          <div class="cover-wrapper">
            <img src={{ book.details.cover }} alt="book.title" class="cover">
          </div>
          <div class="book-content">
            <p class="book-title">{{ book.title }} <span
                style="font-size:1em;font-weight: lighter">({{book.isbn}})</span></p>
            <p class="book-authors">{{ book.authors_to_string() }}</p>
            <p class="book-publish_date">{{ book.details.publish_date}}</p>
            <p class="book-genres">{{ book.genres_to_string() }}</p>
          </div>
          <div class="ban-content">
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}


      <!-- Authors-->
      {% if results_author %}
      <div class="result-section">
        <h2>Authors</h2>
        {% for book in results_author: %}
        <div class="book">
          <div class="cover-wrapper">
            <img src={{ book.details.cover }} alt="book.title" class="cover">
          </div>
          <div class="book-content">
            <p class="book-title">{{ book.title }} <span
                style="font-size:1em;font-weight: lighter">({{book.isbn}})</span></p>
            <p class="book-authors">{{ book.authors_to_string() }}</p>
            <p class="book-publish_date">{{ book.details.publish_date}}</p>
            <p class="book-genres">{{ book.genres_to_string() }}</p>
          </div>
          <div class="ban-content">
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}

    </div>
  </div>
</body>

</html>
