<head>
  <link rel="stylesheet" href="{{url_for('static', filename='search-bar.css')}}">
</head>

<body>

  <div class="search">
    <form action="/search">
      <button aria-label="Submit Search" type="submit"> Submit Search</button>
      <input aria-label="Search" id="search" name="searchterm" type="text" placeholder="Search..">
      <select aria-label="Select Search Type" name="type">
        <option value="all">All</option>
        <option value="author">Author</option>
        <option value="title">Title</option>
      </select>
    </form>
  </div>
</body>